.booking-buttons {
  width: 150px;
}

.booking-container {
  margin: 50px;
  padding: 50px;
  background-image: linear-gradient(to bottom, #f8f8f8, #fafafa, #fbfcfb, #fdfdfd, #ffffff);
}

.booking-content-font {
  color: #3eb1ce;
}
