   <style>
        body{
  background-color: #0a2b54;
  background-image: url("https://res.cloudinary.com/db5spdngu/image/upload/v1565766123/piano_cbz11g.jpg");
  background-attachment: fixed;
  background-size: cover;
        }
    </style>


<div class="banner-two">
  <div class="container" style="width: 500px">
    <h1>bluejay</h1>
    <h4 style= "color: white">Jazz it up a little</h4>
    <br>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>
  </div>
</div>

<!-- Jazz type search bar -->
