<<<<<<< HEAD
<div class = "d-flex justify-content-center">
  <div class="container">
    <h1>bluejay</h1>
    <h4>Book your jazz band</h4>

<!-- Jazz type search bar -->

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>

<!-- Date search -->
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        </div>
    </div>

  </div>

  <!-- Band list -->

=======
<div class = "d-flex justify-content-around">
<% @bands.each do |band| %>
  <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title"><%= link_to band.name, band_path(band) %></h5>
      <p class="card-text">$<%= band.price %> per hour</p>
  </div>
</div>
<% end %>
