<div class="band-index-background">
  <div class="container">
    <div class="index-grid-container band-cards pt-4">
      <% @bands.each do |band| %>
        <%= render 'bands/card', band: band %>
      <% end %>
    </div>
  </div>
</div>
























