<% if user_signed_in? %>
  <div class="container">
    <div class="bands-header">
      <h2>My bands</h2>
    </div>

    <div class="bands-grid-container" id="my-bands">
      <% @bands.each do |band| %>
        <%= render 'bands/card', band: band %>
      <% end %>
    </div>
  </div>
<% end %>
