<div class="container">
  <div class="bands-header">
    <h2>Bands tagged with <%= params[:tag] %></h2>
  </div>
  <div class="bands-grid-container">
    <% @bands.each do |band| %>
      <%= render 'bands/card', band: band %>
    <% end %>
  </div>
</div>
