.card-trip {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;

  img {
    object-fit: cover;
    width: 100%;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.card-trip .card-trip-infos {
  padding: 20px;
}

