.booking-form {
  width: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 30px;
  background-color: white;
  position: sticky;
  top: 0;
}

.new-review-form {
  padding: 30px;
  background-color: white;
  width: 300px;
  position: sticky;
  top: 0;
}
