<div class="band-review">
  <div class="rating">
    <% review.rating.times do %>
       <i class="fas fa-star"></i>
     <% end %>
   </div>
  <p><em>"<%= review.content %>"</em> - <%= review.user.full_name %></p>
</div>
