.buttons-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 38px;
}

.show-image {
  object-fit: cover;
  width: 100%;
  height: 30vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr, 1fr;
}

.band-info-container {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 50px;
}

.band-info-container-two {
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 50px;
  background-color: #ffffff;
}

.band-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
