.show-grid-container {
  display: grid;
  grid-template-columns: 2fr, 1fr;
}

.show-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.band-info-container {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 50px;
}

.booking-container {
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 0;
  padding: 0;
}

#transparent-background {
  background-image: none;
}
